<div class="container">
    <form role="form" name="loginForm"  class="form-signin" data-ng-submit="login(loginForm.$valid)" novalidate >

        <h2>Login</h2>

        <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
        <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" >Login</button>

        <div data-ng-hide="message == ''" class="alert alert-danger">
            {{message}}
        </div>

    </form>
</div>
