<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">AIRONMAN</span> <span data-app-version></span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-big">
                    <a class="dropdown-toggle" data-toggle="dropdown">rafalpisarczyk@gmail.com
                            <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/blog">Profil</a>
                        </li>
                        <li><a href="#/blog/post">Change Password</a>
                        </li>
                        <li><a href="#/blog/post">{{ 'LOGOUT' | translate }}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="##" class="dropdown-toggle" data-toggle="dropdown">Back To Site
                            <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/blog">Clear cache</a>
                        </li>
                        <li><a href="#/blog/post">Restart App</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="##" target="_blank">
                        <!--<img src="../../Content/images/AngularJS-small.png" />-->
                        {{ 'LOGOUT' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
